body {
  position: relative;
}

#root-container {
  position: relative;
}

#sidebar {
  min-height: 100vh
}

.pane {
  display: flex;
  flex-direction: column;
  position: relative;
}

.pane-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  flex: 0 0 3rem;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 .75rem;
  background: #fcfcfc;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020
}

.pane-body {
  display: flex;
  flex-direction: column;
  flex: 1
}

.one #main {
  display: none
}

.two #sidebar {
  display: none
}

@media(min-width: 768px) {
  #root-container.dual {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow: hidden
  }
  /* body.dual #root{
    flex: 1;
    display: flex;
  } */
  #root-container.dual .pane {
    height: 100vh;
    overflow: hidden
  }
  #root-container.dual .pane-header {
    position: static;
    top: auto;
    z-index: unset
  }
  #root-container.dual .pane-actions .btn-avatar {
    display: flex
  }
  #root-container.dual .pane-actions .btn-back {
    display: none
  }
  #root-container.dual .pane-actions .badge {
    display: none
  }
  #root-container.dual #conversation {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%
  }
  #root-container.dual.one #sidebar, #root-container.dual.two #sidebar {
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex: 0 0 40%;
    max-width: 420px
  }
  #root-container.dual.one #main, #root-container.dual.two #main {
    display: flex;
    flex: 3
  }
  #root-container.dual.one #main .pane-body, #root-container.dual.two #main .pane-body {
    height: 100%;
    overflow: hidden
  }
  .k-chat {
    height: 100%;
  }

  .navigate-back{
    display: none;
  }
}

.app {
  display: flex;
}

.k-listview-content {
  overflow: hidden;
}

.k-chat {
  max-width: none;
  min-height: calc(100vh - 3rem);
}

.k-message-box {
  flex-direction: column;
  align-items: inherit;
}

.conversation-header{
  flex: 1;  
  text-align: center;
}

.grow {
  flex-grow: 1;
}

.attachment {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.attachment img {
  width: 32px;
  height: 32px;
}

.attachment .attachment-title {
  margin-left: 0.5rem;
}

a.attachment-link{
  display:flex;
}

.attachment-meta{
  margin-left: 0.5rem;  
  text-align: left;
}

.attachment-meta-title{
  font-weight: bold;
  padding-bottom: .125rem;
}

a.attachment-link:hover{
  text-decoration: none;
}