body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* general */
.transparent,
.transparent:active,
.transparent:hover,
.transparent:focus,
.transparent button,
.transparent button:active,
.transparent button:hover,
.transparent button:focus,
.transparent span {
  border: none !important;
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

/* conversations list */
.conversation-list .k-avatar-md {
  height: 3rem;
  width: 3rem;
}

.conversation-list .k-listview {
  border-right: 0;
  border-bottom: 0;
}

.conversation-list .k-listview-content a,
.conversation-list .k-listview-content a:hover,
.conversation-list .k-listview-content a:visited {
  text-decoration: none !important;
  color: #545454;
  display: block;
}

.conversation-list .k-listview-content a.active {
  background-color: #f5f5f5;
}

.conversation-list .k-listview-content a time {
  float: right;
  font-size: smaller;
}

.conversation-list .conversation {
  position: relative;
}

.conversation-list .actions {
  position: absolute;
  right: 0;
  bottom: 0;
}

.conversation-list .r {
  display: flex;
}

.conversation-list .left {
  width: 60px;
  max-width: 60px;
  flex-shrink: 0;
  position: relative;
}

.conversation-list .right {
  flex: 1 1 100%;
  overflow: hidden;
}

.conversation-list .text-truncate {
  margin-right: 4rem;
}

.conversation-list.unread .text-truncate {
  font-weight: bold;
}

.k-list .k-item {
  box-shadow: none !important;
} 

.presence.active:after {
  content: "";
  background-color: #45d391;
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 15px;
  border: 1px solid rgba(252, 252, 252, 0.5);
}

/* new message */
.dialog .k-dialog {
  width: 90%;
}

@media(min-width: 768px) {
  .dialog .k-dialog {
    width: 400px;
  } 
}

.k-animation-container {
  z-index: 10002 !important;
}

/* search */
.search {
  margin: 0.5rem;
  position: relative;
}

.search button {
  position: absolute;
  right: 0;
  top: -2px;
  padding: 5px;
}

/* settings */

.settings .edit-avatar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings .edit-avatar input[type="file"] {
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.settings .edit-avatar img {
  border-radius: 50%;
}

.settings .edit-avatar span {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.3rem 0.5rem;
  color: #fcfcfc;
  bottom: 50%;
}

.settings .edit-avatar:hover span {
  display: block;
}

.settings .field .k-textbox-container {
  width: 100%;
}

/* details */
.details .k-dialog {
  border: 0;
}

.details .k-dialog-content {
  
  padding: 0 !important;
}

.details .close {
  position: absolute;
  color: #fff;
  right: .2rem;
  top: .2rem;
}

.details .close:hover {
  color: #fff;
}

.details .cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-image: linear-gradient(45deg, #216eb4, #28b7cf);
}

.details .cover img {
  border-radius: 50%;
  display: block;
  width: 128px;
  margin-bottom: 1rem;
}

.details .cover input[type="text"] {
  width: 20rem;
  text-align: center;
}

.details .cover span {
  color: #fff;
}

.k-i-star{
  color:#e9da2f !important
}

